# Dependencies
node_modules

# Nuxt output
.nuxt
.output
.data
.nitro
.cache
dist

# Environment files
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor files
.idea
.vscode
.fleet

# Coverage
coverage

# Docker local overrides
docker-compose.override.yml
